<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ubeydullah Coban">
    <title>İlan Yönetimi</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico">
    <script src="/javascripts/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#563d7c">
</head>
<body class="bg-light">
<main role="main" class="container">
    <div class="text-center">
        <h3 class="m-3">YÖNETİM PANELİ</h3>
    </div>
    {{{body}}}
</main>
<footer>
    <div class="text-center">
        <a href="/client" target="_blank">CLIENT</a>
    </div>
</footer>
    <script src="/javascripts/script.js"></script>
</body>
</html>
